@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
}

:root {
  --background: #020617; /* slate-950 */
  --foreground: #f1f5f9; /* slate-100 */
}

body {
  background: var(--background);
  color: var(--foreground);
}
